<div id="encounters">
  <div class="row">
    <div class="col-md-12">
      <h2>Encounters</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">To be billed</div>
        <div class="panel-body">
          <table id="encounters_table" class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>Account Number</th>
                <th>Patient Name</th>
                <th>Date of Service</th>
                <th>Summary</th>
              </tr>
            </thead>
            <tbody>
              <% @encounters.each do |encounter| %>
                <tr>
                  <td><%= encounter.patient.account_number %></td>
                  <td><%= encounter.patient.name %></td>
                  <td><%= encounter.date_of_service %></td>
                  <td><%= encounter.reason_for_visit %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>